<mat-card *ngIf="coachingTopics">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-row" *ngIf="coachingTopics.length > 0">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>On which topic would you like to have a coaching session?</mat-label>
        <mat-select formControlName="subject">
          <mat-option *ngFor="let coachingTopic of coachingTopics" value="{{coachingTopic.topic.name}}">{{coachingTopic.topic.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="date" [min]="minDate" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="full-width" appearance="fill">
        <input matInput id="time" type="time" class="" formControlName="time">
        <mat-label for="time" class="active">Time</mat-label>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Location</mat-label>
        <mat-select formControlName="location">
          <mat-option value="Online">Online</mat-option>
          <mat-option value="Face2Face">Face2Face</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="full-width" appearance="fill">
        <input matInput id="remarks" type="text" class="" formControlName="remarks">
        <mat-label for="remarks" class="active">Remarks for the coach?</mat-label>
      </mat-form-field>
    </div>
    <div class="form-row">
      <button mat-raised-button color="primary" type="submit">Request Session</button>
      <app-error-message [messages]="errorMessages"></app-error-message>
    </div>

  </form>
</mat-card>
