.wrapper {
  @media (min-width: 700px) {
    display: flex;
    gap: 20px;

  }

  > *:nth-child(2) {
    text-align: center;
    flex-basis: 300px;
  }
}

mat-card {
  margin-bottom: 20px;
}

:host {
  line-height: 1.5em;
}
