<app-page-title [main]="true">About</app-page-title>
<div class="wrapper">
  <div>
    <mat-card>
      <h3>Runtime Terror's CodeCoach</h3>
      <p>CodeCoach was created by 5 enthusiastic developers, willing to give other developers a platform to learn and
        share knowledge.</p>
      <h3>Contact</h3>
      <p>Kantersteen 10<br/>1000 Brussel</p>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <h3>Version</h3>
      <p>1.0 beta</p>
      <h3>Latest Update</h3>
      <p>{{ latestUpdate }}</p>
      <h3>Contributors</h3>
      <p>
        Free Hoebeke<br>
        Glenn Verhaeghe<br>
        Mert Demirok<br>
        Wouter Biront<br>
        Christoph Parrez<br>
      </p>
    </mat-card>
  </div>
</div>
