$main-text-color: #263238;
$accent-color-primary: #22b6e9;
$accent-color-secondary: #5422e9;
$accent-color-tertiary: #e83a67;
$accent-color-darker: #1e97c1;
$footer-background: #005a93;
//$primary-color: #ff0000;
$main-content-background-color: #f7f8ff;
$navbar-font-color: #000;
$red: #9f0505;
$input-error-color: $red;

@mixin gradient-primary-secondary {
  background: rgb(34,182,233);
  background: linear-gradient(90deg, rgba(34,182,233,1) 0%, rgba(84,34,233,1) 35%);
}
