$main-text-color: #263238;
$accent-color-primary: #22b6e9;
$accent-color-secondary: #5422e9;
$accent-color-darker: #1e97c1;
$footer-background: #005a93;
//$primary-color: #ff0000;
$navbar-font-color: #000;
$red: #9f0505;
$input-error-color: $red;
