<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Runtime Terror's CodeCoach</h5>
        <p class="grey-text text-lighten-4">CodeCoach was created by 5 enthusiastic developers, willing to give other developers a platform to learn and share knowledge.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Useful links</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contact</h5>
        <p>Kantersteen 10<br/>1000 Brussel</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      <div>{{_year | date :'yyyy'}} &copy; Runtime Terror</div>
    </div>
  </div>
</footer>
