@import '../../../sass/variables';

.page-footer {
  color: #fff;
  background: $footer-background;
  padding: 16px 0 12px 0;
  line-height: 1;
  text-align: center;
}

mat-icon {
  vertical-align: middle;
  color: #e82121;
  height: 14px;
  width: 25px;
  font-size: 16px;
  margin-bottom: 4px
}
