<div class="header-wrapper container">
  <mat-icon class="sidenav-trigger" (click)="openSidenav.emit()">menu</mat-icon>

  <a routerLink="/" class="branding">
    <img class="logo" src="assets/images/codecoach-logo.svg">
    <span class="app-name">
      CodeCoach
      <span class="by-rt">by Runtime Terror</span>
    </span>
  </a>

  <nav class="main-nav" role="navigation">
    <ul>
      <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Home</a></li>
      <li><a routerLinkActive="active" routerLink="about">About</a></li>
      <li><a routerLinkActive="active" routerLink="coaches">Find a Coach</a></li>
      <li>
        <a>
          Account
          <div class="submenu left">
            <ul>
              <li *ngIf="userService.isLoggedIn()"><a routerLinkActive="active" [routerLink]="['account/coachee', {outlets: {view: 'profile'} }]">My Profile</a></li>
              <li *ngIf="userService.isCoach()"><a routerLinkActive="active" [routerLink]="['account/coach', {outlets: {view: 'profile'} }]">My Coach Profile</a></li>
              <li *ngIf="userService.isAdmin()"><a routerLinkActive="active" [routerLink]="['account/admin', {outlets: {view: 'profile'} }]">My Admin Profile</a></li>
<!--              <li><a routerLinkActive="active" routerLink="user-profile" *ngIf="userService.isLoggedIn()">My Profile</a></li>-->
<!--              <li><a routerLinkActive="active" routerLink="admin-profile" *ngIf="userService.isAdmin()">My Admin Profile</a></li>-->
              <li *ngIf="!userService.isLoggedIn()"><a routerLinkActive="active" routerLink="register">Register</a></li>
              <li *ngIf="!userService.isLoggedIn()"><a routerLinkActive="active" routerLink="login">Sign In</a></li>
              <li *ngIf="userService.isLoggedIn()"><a routerLinkActive="active" routerLink="login" (click)="userService.logoutUser()">Logout</a></li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
  </nav>

  <div class="social">
    <ul>
      <li>
        <a>
          <fa-icon [icon]="gitHubIcon"></fa-icon>
          <div class="submenu">
            <ul>
              <li><a href="https://github.com/ChristophParrez/codecoach-frontend" target="_blank">Frontend</a></li>
              <li><a href="https://github.com/ChristophParrez/codecoach-backend" target="_blank">Backend</a></li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
