<div class="nav-wrapper container">
  <a routerLink="/" class="brand-logo">
    <img src="assets/images/codecoach-logo.svg">
    CodeCoach
  </a>
  <nav role="navigation">
    <ul>
      <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Home</a></li>
      <li><a routerLinkActive="active" routerLink="about">About</a></li>
      <li><a routerLinkActive="active" routerLink="login">Login</a></li>
      <li><a routerLinkActive="active" routerLink="register">Register</a></li>
      <li><a routerLinkActive="active" routerLink="contact">Contact</a></li>
    </ul>
  </nav>
</div>
