@import '../../../sass/variables';

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  //padding: 0 0.60rem;
  h1 {
    margin: 0 !important;
    font-size: 1.5rem;
  }

  .icon-button {
    $size: 25px;
    cursor: pointer;
    background: #fff;
    color: $main-text-color;
    border-radius: 50%;
    width: $size;
    height: $size;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 300ms, color 300ms, transform 100ms;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

    &:hover {
      background: $accent-color-primary;
      color: #fff;
      transform: scale(1.2);
    }

    mat-icon {
      font-size: 12px;
      height: auto;
      width: auto;
    }
  }
}

