.coaching-topics .row {
  align-items: center;
}


.form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  //flex-direction: column;
  //height: 100px;
  //justify-content: space-between;
}

.mat-select-topic{
  width: 45%;
  //flex-basis: 100%;
}

.mat-rate-experience{
  //width: 55%;
  //flex-basis: 100%;
  padding-left: 20px;
  //padding-top: 18px;
}




