<app-page-title [main]="true">Welcome</app-page-title>
<div class="wrapper">
  <mat-card class="welcome">
    <h3>Welcome to CodeCoach!</h3>
    <p>If you are new here, please <a routerLink="register">register yourself</a></p>
    <p>If you have gained experience in certain topics, you may be interested in <strong>applying to become a Coach</strong></p>
    <p>
      CodeCoach aims to facilitate the peer-to-peer coaching sessions between professional programmers. Developers can
      register as coachee or coach and ask for support to grow: Using a coaching session, via a code review, ...
    </p>
    <p>CodeCoach is an academic coaching program between students in secondary schools, supervised by the schools.</p>
    <p>
      Students with difficulties in a subject and who want to make progress can ask for explanations and advice to other students in their school who have mastered the subject or have already acquired a good working method.
    </p>
    <p>
      With CodeCoach everything is quick and easy: just register as a Coach or request a coaching session on this website, and it will organize a private
      coaching session in the school.
    <p>
      Our digital platform has the following features:
    </p>
    <ul class="arrows">
      <li>Register</li>
      <li>Request coaching or code review</li>
      <li>Provide coaching or code review</li>
      <li>Provide feedback</li>
    </ul>
  </mat-card>
  <div class="desktop-image">
    <mat-card>
      <h3>Topics</h3>
      <p>We currently provide coaching for the following topics:</p>
<!--      <mat-chip-list aria-label="topics selection">-->
<!--        <mat-chip color="primary" *ngFor="let topic of topics">{{topic.name}}</mat-chip>-->
<!--      </mat-chip-list>-->
      <div class="topic-list">
        <div class="topic" *ngFor="let topic of topics">{{topic.name}}</div>
      </div>
      <img src="assets/images/undraw_remotely_-2-j6y.svg">
    </mat-card>
  </div>
</div>
