.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.welcome {
  width: 48%;
}

.desktop-image{
  width:48%;
}

.desktop-image img{
  width:90%;
}

@media (max-width: 800px) {
  .welcome, .topics {
    width: 100%;
    margin-bottom: 20px;
  }
}


