<mat-sidenav-container
  class="example-container" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
    <p>
      <button mat-button (click)="sidenav.close()">Toggle</button>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header></app-header>

    <div class="container">
      <router-outlet></router-outlet>
      <p>&nbsp;</p>
      <p>
        <button mat-raised-button color="primary" (click)="sidenav.open()">Open Menu Test</button>
      </p>
    </div>

    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
