<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav opened="false" mode="push">
    <mat-toolbar color="primary">
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a (click)="sidenav.close()" mat-list-item routerLink="">Home</a>
      <a (click)="sidenav.close()" mat-list-item routerLink="about">About</a>
      <a (click)="sidenav.close()" mat-list-item routerLink="login">Login</a>
      <a (click)="sidenav.close()" mat-list-item routerLink="register">Register</a>
      <a (click)="sidenav.close()" mat-list-item routerLink="contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header (openSidenav)="sidenav.open()"></app-header>

    <div id="main-content" class="container">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
