@import '../sass/variables';

mat-sidenav {
  width: 300px;
  max-width: 70%;
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
  }
}

mat-sidenav-content {
  //border: 1px solid blue;
  background: $main-content-background-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
