<app-page-title [main]="true">Account</app-page-title>
<mat-card>
  <h3>Register</h3>
  <p>You can create an account by filling in the form below.</p>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-row flex">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput id="first_name" type="text" formControlName="firstName">
      </mat-form-field>
<!--    </div>-->

<!--    <div class="form-row">-->
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput id="last_name" type="text" formControlName="lastName">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Company</mat-label>
        <input matInput id="company" type="text" formControlName="companyName">
      </mat-form-field>
    </div>

    <div class="form-row flex">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Telephone Number</mat-label>
        <input matInput type="text" formControlName="telephoneNumber">
      </mat-form-field>
<!--    </div>-->

<!--    <div class="form-row">-->
      <mat-form-field class="full-width" appearance="fill">
        <input matInput id="email" type="text" class="" formControlName="email">
        <mat-label class="active">Email</mat-label>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" formControlName="password">
      </mat-form-field>
      <div class="hint">(minimum 8 characters, one uppercase and one number)</div>
    </div>

    <div class="form-row">
      <button mat-raised-button color="primary" type="submit">Register</button>
      <button mat-raised-button type="button" (click)="appService.goBack()">Cancel</button>
      <app-error-message [messages]="errorMessages"></app-error-message>
    </div>

  </form>
</mat-card>
