<app-page-title [main]="true">Account</app-page-title>

<mat-card>
  <h3>Login</h3>
  <p>Please login to get access to your account or <a routerLink="/register">register</a> to setup your account first.</p>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field class="full-width" appearance="fill">
        <input matInput id="email" type="text" class="" formControlName="username">
        <mat-label for="email" class="active">Email</mat-label>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" formControlName="password">
      </mat-form-field>
    </div>
    <div class="form-row">
      <button mat-raised-button color="primary" type="submit">Sign In</button>
      <button mat-raised-button type="button" (click)="resetPassword()">Reset Password</button>
      <app-error-message [messages]="errorMessages"></app-error-message>
    </div>
  </form>
</mat-card>
