@import '../../../sass/variables';

:host {
  > div {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    background: rgba($red, 0.1);
    border: 1px solid rgba($red, 0.1);
    color: $red;
    overflow: hidden;
    //padding: 20px;
    > div {
      margin: 7px;
    }
  }
}
