<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" *ngIf="user">
  <div class="form-row">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput id="first_name" type="text" formControlName="firstName">
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" formControlName="lastName">
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label class="active">Email</mat-label>
      <input matInput type="text" class="" formControlName="email">
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label class="active">Picture</mat-label>
      <input matInput id="picture" type="text" class="" formControlName="picture">
    </mat-form-field>
  </div>

  <div class="form-row" *ngIf="userService.isAdmin() && userRoles">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label class="active">Roles</mat-label>
      <mat-select formControlName="roles" multiple>
        <mat-option *ngFor="let role of userRoles | enumToArray" value="{{role}}">{{role | titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <button mat-raised-button color="primary" type="submit">Save</button>
    <button mat-raised-button color="" type="button" (click)="cancel.emit()">Cancel</button>
    <app-error-message [messages]="errorMessages"></app-error-message>
  </div>

</form>
