<mat-card>
  <app-page-title>
    Provide feedback to coach
  </app-page-title>
  <ng-container class="feedback-container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="form-row" >
        <div class="mat-text-question">
          <p>Were the explanations given by your Coach clear?</p>
        </div>
        <div class="mat-rate-explanation">
          <app-smiles [max]="7" [clickable]="true" formControlName="score1"></app-smiles>
        </div>
      </div>
      <div class="form-row" >
        <div class="mat-text-question">
          <p>Was the coaching session useful?</p>
        </div>
        <div class="mat-rate-explanation">
          <app-smiles [max]="7" [clickable]="true" formControlName="score2"></app-smiles>
        </div>
      </div>
      <div class="form-row mat-comments-area">
        <mat-form-field appearance="fill">
          <textarea rows="10" matInput formControlName="comment" placeholder="What did you like in the coaching session? How could your Coach get better? "></textarea>
        </mat-form-field>
      </div>
      <button [disabled]="isFeedbackAlreadyGiven" mat-raised-button color="primary" type="submit">Send</button>
      <button mat-raised-button type="button" (click)="appService.goBack()">Cancel</button>
      <app-error-message [messages]="errorMessages"></app-error-message>
    </form>
  </ng-container>
</mat-card>
