<app-page-title>Overview of all Coaches</app-page-title>

<mat-card class="coaches-content">
  <div class="search-fields">
    <form [formGroup]="options">
      <mat-form-field>
        <mat-label>Search topic:</mat-label>
        <mat-select [formControl]="topicControl">
          <mat-option (onSelectionChange)="topicControl.reset()">-- All --</mat-option>
          <mat-option *ngFor="let topic of topics" value="{{topic.name}}">{{topic.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Search year:</mat-label>
        <mat-select [formControl]="yearControl">
          <mat-option value="2021">2021</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <mat-form-field class="search-coach-name">
      <mat-label>First name, last name or email:</mat-label>
      <input matInput id="name" type="text" [(ngModel)]="searchText">
    </mat-form-field>
  </div>

  <div *ngFor="let coach of coaches | nameFilter:searchText | topicFilter:topicControl.value" class="coach-card-container">
    <mat-card class="coach-card">
      <div class="coach-card-title">
        <div class="row1">{{coach.firstName}} {{coach.lastName}}<br/>{{coach.email}}</div>
        <mat-chip-list aria-label="session selection">
          <mat-chip color="primary" selected>Session</mat-chip>
        </mat-chip-list>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row2">
        <div class="col-left">
          <img class="profile-image" [src]="'./assets/images/image-not-found.png'">
        </div>
        <div class="col-right">
          <div class="topic" *ngFor="let topic of coach.coachInformation.coachingTopics">
            <div>
              {{topic.topic.name}}
              <mat-divider [inset]="true"></mat-divider>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</mat-card>
