<app-page-title>Overview of all Coaches</app-page-title>

<mat-card class="coaches-content">
  <div class="search-fields">
    <mat-form-field>
      <mat-label>Search topic:</mat-label>
      <mat-select></mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Search year:</mat-label>
      <mat-select></mat-select>
    </mat-form-field>
    <mat-form-field class="search-coach-name">
      <mat-label>First name, last name or email:</mat-label>
      <input matInput id="name" type="text">
    </mat-form-field>
  </div>
  <div *ngFor="let coach of coaches" class="coach-card-container">
    <mat-card class="coach-card">
      <div class="row1">{{coach.firstName}} {{coach.lastName}}</div>
      <mat-divider [inset]="true"></mat-divider>
      <div class="row2">
        <div class="col-left">
          <img class="profile-image" [src]="'./assets/images/image-not-found.png'">
        </div>
        <div class="col-right">
          <div class="topic" *ngFor="let topic of coach.coachInformation.coachingTopics"><p>{{topic.topic.name}}</p></div>
        </div>
      </div>
    </mat-card>
  </div>
</mat-card>
