<app-page-title>Overview of all Coaches</app-page-title>

<mat-card class="coaches-content">
  <div class="search-fields">
    <mat-form-field>
      <mat-label>Search topic:</mat-label>
      <mat-select></mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Search year:</mat-label>
      <mat-select></mat-select>
    </mat-form-field>
    <mat-form-field class="search-coach-name">
      <mat-label>First name, last name or email:</mat-label>
      <input matInput id="name" type="text">
    </mat-form-field>
  </div>
  <div *ngFor="let x of amount" class="coach-card-container">
    <mat-card class="coach-card">
      <div class="col">
        <img class="profile-image" [src]="'./assets/images/image-not-found.png'">
      </div>
      <div class="col">
        <div class="title">Name:</div>
        <div>{{name}}</div>
        <div class="title">Topics:</div>
        <div>{{topic1}} & {{topic2}}</div>
      </div>
    </mat-card>
  </div>
</mat-card>


<!--
<div class="form-row">
      <mat-form-field class="full-width" appearance="fill">
        <input matInput id="email" type="text" class="" formControlName="username">
        <mat-label for="email" class="active">Email</mat-label>
      </mat-form-field>
    </div>
-->
