.coaches-content, .row2 {
  display: flex;
  flex-wrap: wrap;
}

.coach-card-title {
  display: flex;
  justify-content: space-between;
}

.search-fields {
  width: 100%;
  display: flex;
}

.search-fields mat-form-field {
  margin-right: 20px;
}

.search-coach-name {
  width: 250px;
}

.row1, .row2 {
  width: 100%;
}

.row2 {
  margin-top: 5px;
}

.col-left {
  margin-right: 10px;
}

.topic {
  text-align: center;
}

.coaches-content .coach-card-container {
  padding: 10px;
  width: 33%;
}

.col-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}

.profile-image {
  $size: 120px;
  border-radius: 50%;
  object-fit: cover;
  width: $size;
  height: $size;
  &.default-image {
    border-radius: 0;
  }
}

@media (max-width: 1000px) {
  .coaches-content .coach-card-container {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .coaches-content .coach-card-container {
    width: 100%;
  }
}
