<div class="wrapper" *ngIf="user && (userService.isCoach() || userService.isAdmin())">
  <div>
    <mat-card class="sidebar secondary">
      <h3>My Coach Profile</h3>
      <a routerLinkActive="active" [routerLink]="'/coach/' + user.userId">Profile Information</a>
      <a routerLinkActive="active">Coaching Sessions</a>
    </mat-card>
  </div>
  <div class="content">
    <app-profile-information [user]="user" [pageRole]="roles.COACH" (userIsUpdated)="getUser()"></app-profile-information>
    <app-coach-information [user]="user" (userIsUpdated)="getUser()"></app-coach-information>
    <app-coach-topics [user]="user" (userIsUpdated)="getUser()"></app-coach-topics>
  </div>
</div>
<app-unauthorized *ngIf="!userService.isCoach()"></app-unauthorized>
