:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 20px;
}

@media (min-width: 700px) {
  .wrapper {
    display: flex;
  }

  .content {
    flex: 1;
    margin-top: 0;
    margin-left: 20px;
  }
}

.content > * {
  margin-bottom: 20px;
}
