// Setup Angular Material
@import 'sass/angular-material';

// CodeCoach
@import 'sass/variables';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: $accent-color;
}

::selection {
  color: #fff;
  background: $accent-color;
}

.form-row {
  margin-bottom: 5px;
}

input {
  &.ng-invalid.ng-touched {
    //background: rgba($input-error-color, 0.1) !important;
    //color: $input-error-color;
    //border-bottom: 2px solid $input-error-color !important;
    //box-shadow: none !important;

    & + label {
      color: $input-error-color;
    }
  }
}

mat-hint {
  margin-bottom: 10px;
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  &.mat-primary {
    color: #fff;
    font-weight: 400;
  }
}

.mat-form-field.full-width {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  //border: 1px solid red;
}

p {
  margin-bottom: 10px;
}

p:last-child {
  margin-bottom: 0;
}
